<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      {{#with site.homeUrl}}
        <a class="navbar-item" href="{{{relativize this}}}">{{site.title}}</a>
      {{/with}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
      {{#with site.homeUrl}}
      <a href="{{{relativize this}}}" class="navbar-home-button"></a>
      {{/with}}
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://hazelcast.org/">
          hazelcast.org
           <img
              class="external-link"
              alt="Hazelcast"
              srcset="{{{uiRootPath}}}/img/external-link.png 1x, {{{uiRootPath}}}/img/external-link@2x.png 2x, {{{uiRootPath}}}/img/external-link@3x.png 3x"
            />
          </a>
      </div>
    </div>
  </nav>
</header>
